ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	width: 100px;
	margin-left: 25px;
}

li a:hover {
	background-color: blue;
	color: red;
}

li a:focus {
	width: 110px;
	text-align: center;
}